In [ ]:
# There are 3348 movies 
# This Dataframe was found on presents movies from 1970 to 2020,

In [ ]:
# Main libraries : Pandas, Numpy, bs4
# Libraries for data visualisation : Matplotlib, Seaborn, Plotly

In [72]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline
from matplotlib_venn import venn2

In [73]:
df1 = "C:/Users/ALEV PC/Desktop/Project/Data/raw/imdb_data_.csv"
df1 = pd.read_csv(df1)
df1.head()

,id,primaryTitle,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,tt0035423,Kate & Leopold,Kate & Leopold,0,118,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001",James Mangold
1,tt0065421,The Aristocats,The AristoCats,0,78,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970",Wolfgang Reitherman
2,tt0065938,Kelly's Heroes,Kelly's Heroes,0,144,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970",Brian G. Hutton
3,tt0066026,M*A*S*H,M*A*S*H,0,116,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970",Robert Altman
4,tt0066206,Patton,Patton,0,172,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970",Franklin J. Schaffner

In [74]:
df1.info

<bound method DataFrame.info of              id                          primaryTitle  \
0     tt0035423                        Kate & Leopold
1     tt0065421                        The Aristocats
2     tt0065938                        Kelly's Heroes
3     tt0066026                               M*A*S*H
4     tt0066206                                Patton
...         ...                                   ...
3343  tt9770150                             Nomadland
3344  tt9777666                      The Tomorrow War
3345  tt9784798           Judas and the Black Messiah
3346  tt9844522  Escape Room: Tournament of Champions
3347  tt9893250                          I Care a Lot

                             originalTitle  isAdult  runtimeMinutes  \
0                           Kate & Leopold        0             118
1                           The AristoCats        0              78
2                           Kelly's Heroes        0             144
3                                  M*A*S*H        0             116
4                                   Patton        0             172
...                                    ...      ...             ...
3343                             Nomadland        0             107
3344                      The Tomorrow War        0             138
3345           Judas and the Black Messiah        0             126
3346  Escape Room: Tournament of Champions        0              88
3347                          I Care a Lot        0             118

                          genres  averageRating  numVotes     budget  \
0         Comedy,Fantasy,Romance            6.4     87925   48000000
1     Adventure,Animation,Comedy            7.1    111758    4000000
2           Adventure,Comedy,War            7.6     52628    4000000
3               Comedy,Drama,War            7.4     75784    3500000
4            Biography,Drama,War            7.9    106476   12000000
...                          ...            ...       ...        ...
3343                       Drama            7.3    175977    5000000
3344      Action,Adventure,Drama            6.6    220617  200000000
3345     Biography,Drama,History            7.4     88568   26000000
3346     Action,Adventure,Horror            5.7     56955   15000000
3347          Comedy,Crime,Drama            6.4    141433   14000000

           gross        release_date              directors
0     76019048.0   December 11, 2001          James Mangold
1     35459543.0   December 11, 1970    Wolfgang Reitherman
2      5200000.0     January 1, 1970        Brian G. Hutton
3     81600000.0    January 25, 1970          Robert Altman
4     61749765.0    February 4, 1970  Franklin J. Schaffner
...          ...                 ...                    ...
3343  39458207.0  September 11, 2020             Chloé Zhao
3344  14400000.0       June 30, 2021            Chris McKay
3345   7478009.0    February 1, 2021             Shaka King
3346  65774490.0        July 1, 2021           Adam Robitel
3347   1351662.0  September 12, 2020             J Blakeson

[3348 rows x 12 columns]>

In [75]:
# List of columns
df1.columns

Index(['id', 'primaryTitle', 'originalTitle', 'isAdult', 'runtimeMinutes',
       'genres', 'averageRating', 'numVotes', 'budget', 'gross',
       'release_date', 'directors'],
      dtype='object')

In [76]:
df1.release_date.info

<bound method Series.info of 0        December 11, 2001
1        December 11, 1970
2          January 1, 1970
3         January 25, 1970
4         February 4, 1970
               ...
3343    September 11, 2020
3344         June 30, 2021
3345      February 1, 2021
3346          July 1, 2021
3347    September 12, 2020
Name: release_date, Length: 3348, dtype: object>

In [77]:
null_values = df1.isnull().sum()
if null_values.any():
    print("Null values found:")
    print(null_values)
else:
    print("No null values found.")

Null values found:
id                 0
primaryTitle       0
originalTitle      0
isAdult            0
runtimeMinutes     0
genres             0
averageRating      0
numVotes           0
budget             0
gross             51
release_date       5
directors          0
dtype: int64

In [78]:
duplicated_rows = df1.duplicated().sum()
if duplicated_rows:
    print(f"{duplicated_rows} duplicated rows found.")
else:
    print("No duplicated rows found.")

No duplicated rows found.

In [79]:
# I will create a new table with the columns including movie names, their ratings and number of people voted for those ratings.

In [80]:
df1 = "C:/Users/ALEV PC/Desktop/Project/Data/raw/imdb_data_.csv"
df1 = pd.read_csv(df1)

columns_to_drop = ['id', 'primaryTitle', 'isAdult', 'runtimeMinutes', 'directors']
df1 = df1.drop(columns=columns_to_drop)
display(df1)

,originalTitle,genres,averageRating,numVotes,budget,gross,release_date
0,Kate & Leopold,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001"
1,The AristoCats,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970"
2,Kelly's Heroes,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970"
3,M*A*S*H,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970"
4,Patton,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970"
...,...,...,...,...,...,...,...
3343,Nomadland,Drama,7.3,175977,5000000,39458207.0,"September 11, 2020"
3344,The Tomorrow War,"Action,Adventure,Drama",6.6,220617,200000000,14400000.0,"June 30, 2021"
3345,Judas and the Black Messiah,"Biography,Drama,History",7.4,88568,26000000,7478009.0,"February 1, 2021"
3346,Escape Room: Tournament of Champions,"Action,Adventure,Horror",5.7,56955,15000000,65774490.0,"July 1, 2021"
3347,I Care a Lot,"Comedy,Crime,Drama",6.4,141433,14000000,1351662.0,"September 12, 2020"

In [81]:
import pandas as pd

df1.rename(columns={'genres': 'Genres', 'budget': 'Budget', 'gross': 'Gross', 'release_date': 'Release Date'}, inplace=True)

display(df1.head())

,originalTitle,Genres,averageRating,numVotes,Budget,Gross,Release Date
0,Kate & Leopold,"Comedy,Fantasy,Romance",6.4,87925,48000000,76019048.0,"December 11, 2001"
1,The AristoCats,"Adventure,Animation,Comedy",7.1,111758,4000000,35459543.0,"December 11, 1970"
2,Kelly's Heroes,"Adventure,Comedy,War",7.6,52628,4000000,5200000.0,"January 1, 1970"
3,M*A*S*H,"Comedy,Drama,War",7.4,75784,3500000,81600000.0,"January 25, 1970"
4,Patton,"Biography,Drama,War",7.9,106476,12000000,61749765.0,"February 4, 1970"

In [82]:
df1.to_csv('C:/Users/ALEV PC/Desktop/Project/Data/cleaned/output.csv', index=False)